html, body {
  overflow-x: hidden; /* Prevent side scrolling */
}

.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center all elements vertically */
  padding: var(--padding);
  font-family: var(--font-family); /* Use global font-family */
  background-color: var(--background-color);
  height: calc(100vh - 130px);
  box-sizing: border-box;
  width: 100%;
  max-width: 100%; /* Prevent exceeding the screen width */
}

/* Updated filter container styling */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size); /* Use global font size */
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  background-color: var(--background-color); /* Use global background color */
  color: var(--font-color); /* Use global font color */
}

#month-select {
  padding: 10px; /* Match the padding with .drink-select */
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #ddd; /* Use global secondary color */
  border-radius: var(--border-radius);
  color: var(--font-color);
  width: 100%; /* Ensures the select takes up full width in the container */
  box-sizing: border-box;
}

.charts-heading {
  font-size: 16px;
  margin-top: 10px;
  color: var(--secondary-color);
  text-align: center;
}

.podium {
  display: flex;
  justify-content: center; /* Center the podium blocks */
  align-items: flex-end;
  width: 100%;
  max-width: 350px; /* Slightly reduce the max width to shrink the podium */
  margin: 0 auto;
  flex-grow: 1;
}

.podium-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 3px; /* Reduce the padding inside each block */
  margin: 0 10px; /* Reduce the margin between podium blocks */
  border-radius: var(--border-radius);
  color: var(--font-color);
  position: relative;
}

.podium-text {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  position: absolute;
  top: -30px;
}

.podium-score {
  font-size: 12px;
  position: absolute;
  top: -15px;
}

.first {
  background-color: var(--first-place-color);
  height: 70%;
}

.second {
  background-color: var(--second-place-color);
  height: 60%;
}

.third {
  background-color: var(--third-place-color);
  height: 50%;
}

.pie-chart-container {
  display: flex;
  flex-direction: column; /* Ensures h2 is above the pie chart */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 225px; /* Reduce the size of the pie chart container */
  margin: var(--margin) 0;
  padding: var(--padding);
  box-sizing: border-box;
}

.pie-chart-container canvas {
  max-width: 100%;
  height: 250px;
}

.pie-chart-heading {
  font-size: 16px;
  color: var(--secondary-color);
  margin-bottom: 10px;
  text-align: center;
}

.statistics-cards {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  align-items: center;
  width: 100%;
  max-width: 80%; /* Further reduce the max width to make cards smaller */
  padding: 0;
  margin-bottom: 30px; /* Adjust margin as needed */
  gap: 15px; /* Adjust space between the cards */
}

.statistics-card {
  font-size: 10px;
  background-color: #f8f9fa;
  border-radius: var(--border-radius);
  padding: 8px; /* Reduce padding inside the cards */
  text-align: center;
  width: 30%; /* Make the cards smaller */
  max-width: 120px; /* Adjust max width */
  box-shadow: var(--box-shadow);
  flex-grow: 1;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .charts-heading {
    font-size: 14px;
  }

  .podium-text {
    font-size: 12px;
  }

  .podium-score {
    font-size: 10px;
  }

  .first {
    height: 70%;
  }

  .second {
    height: 50%;
  }

  .third {
    height: 40%;
  }

  .pie-chart-heading {
    font-size: 14px;
  }

  .filter-container {
    flex-direction: column;
    align-items: flex-start;
  }

  #month-select {
    margin-top: 10px;
    width: 100%;
  }
}
