:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #87643d;
  --accent-color-2: #d4e653;
  --background-color: #ffffff;
  --font-color: #343a40;
  --first-place-color: #ffd700;
  --second-place-color: #c0c0c0;
  --third-place-color: #cd7f32;
  --font-size: 14px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  overflow-x: hidden; /* Prevent side scrolling */
}

.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center all elements vertically */
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  height: calc(100vh - 75px);
  box-sizing: border-box;
  width: 100%;
  max-width: 100%; /* Prevent exceeding the screen width */
}

.charts-heading {
  font-size: 20px;
  color: var(--secondary-color);
  text-align: center;
  margin-bottom: 20px;
}

.podium {
  display: flex;
  justify-content: center; /* Center the podium blocks */
  align-items: flex-end;
  width: 100%;
  max-width: 90%; /* Ensure the podium doesn't exceed the screen width */
  margin: 0 auto;
  padding-top: 50px;
  flex-grow: 1;
}

.podium-block {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding: 5px;
  margin: 0 10px; 
  border-radius: 5px;
  color: var(--font-color);
  position: relative;
}

.podium-text {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  position: absolute;
  top: -35px;
}

.podium-score {
  font-size: 12px;
  position: absolute;
  top: -15px;
}

.first {
  background-color: var(--first-place-color);
  height: 100%;
}

.second {
  background-color: var(--second-place-color);
  height: 80%;
}

.third {
  background-color: var(--third-place-color);
  height: 70%;
}

.pie-chart-container {
  display: flex;
  flex-direction: column; /* Ensures h2 is above the pie chart */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 275px;
  flex-grow: 1;
}

.pie-chart-heading {
  font-size: 18px;
  color: var(--secondary-color);
  margin-bottom: 10px;
  text-align: center;
}

.statistics-cards {
  display: flex;
  justify-content: center; /* Center the cards horizontally */
  align-items: center;
  width: 100%;
  max-width: 100%; /* Prevent the cards from exceeding the screen width */
  padding: 0;
  margin-top: 20px;
  gap: 5px; /* Adds space between the cards */
}

.statistics-card {
  font-size: 12px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 35%; /* Ensure two cards fit side by side */
  max-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

/* Adjustments for smaller screens */
@media (max-width: 600px) {
  .charts-heading {
    font-size: 18px;
  }

  .podium-text {
    font-size: 12px;
  }

  .podium-score {
    font-size: 10px;
  }

  .first {
    height: 90%;
  }

  .second {
    height: 70%;
  }

  .third {
    height: 60%;
  }

  .pie-chart-heading {
    font-size: 16px;
  }

  .statistics-cards {
    flex-direction: column; /* Stack the cards vertically on smaller screens */
    align-items: center; /* Center the cards vertically */
    width: 100%; /* Ensure the container doesn't exceed the screen width */
    padding: 0 10px;
  }

  .statistics-card {
    width: 100%; /* Make the cards full width on smaller screens */
    margin-bottom: 10px;
  }
}
