
.game-wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
  width: 100%;
  gap: 50px;
  box-sizing: border-box;
  padding: 0 var(--padding); /* Use global padding */
}

.credits-display {
  margin-bottom: 10px; /* Space between credits and the wheel */
  font-weight: bold;
  font-size: 20px; /* Adjust font size for visibility */
  color: var(--secondary-color);
  text-align: center;
  padding: var(--padding); /* Use global padding */
  margin-bottom: 25px;
}

#wheelOfFortune {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  max-width: 90vw;
  max-height: 90vw;
}

#wheel {
  display: block;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 36px;
  color: var(--background-color);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  user-select: none;
  z-index: 300;
  transition: height 0.1s ease-in, width 0.2s ease-in, color 0.1s ease-in, background-color 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
}

#spin:hover {
  background-color: var(--accent-color-1);
}

/* Custom top pointer */
#top-pointer {
  position: absolute;
  top: -10px; /* Place the pointer at the top of the wheel */
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid var(--background-color);
  z-index: 400;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3)); /* Add shadow only around the triangle */
}

.outcome-display {
  margin-top: var(--margin);
  font-weight: bold;
  font-size: 16px;
  color: var(--secondary-color);
  text-align: center;
  margin: 30px;
  padding: 10px;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  #wheelOfFortune {
    height: 80vw;
    width: 80vw;
  }

  #spin {
    height: 22vw;
    width: 22vw;
    font-size: 5vw;
  }

  .credits-display {
    font-size: 5vw; /* Adjust font size for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
    margin-bottom: 25px;
  }

  /* Adjust top pointer for mobile */
  #top-pointer {
    top: -10px; /* Adjust position for smaller screens */
    border-left-width: 15px;
    border-right-width: 15px;
    border-top-width: 25px;
  }
}
