:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #87643d;
  --accent-color-2: #d4e653;
  --background-color: #ffffff;
  --font-color: #343a40;
  --font-size: 14px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.game-wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 130px);
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px; /* Added padding for better mobile view */
}

.credits-display {
  margin-bottom: 10px; /* Space between credits and the wheel */
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 20px; /* Adjust font size for visibility */
  color: var(--secondary-color);
  text-align: center;
  padding: 10px; /* Added padding for better spacing */
}

#wheelOfFortune {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  max-width: 90vw;
  max-height: 90vw;
}

#wheel {
  display: block;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(17, 17, 17, 0.15);
  overflow: hidden;
}

#spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 140px;
  width: 140px;
  border-radius: 50%;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: var(--background-color);
  background-color: var(--primary-color);
  outline: none;
  border: none;
  user-select: none;
  z-index: 300;
  transition: height 0.1s ease-in, width 0.2s ease-in, color 0.1s ease-in, background-color 0.1s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 0 8px currentColor, 0 0px 15px 5px rgba(0, 0, 0, 0.6);
}

#spin:hover {
  background-color: var(--accent-color-1);
}

#spin::after {
  content: '';
  position: absolute;
  top: -17px;
  border: 10px solid transparent;
  border-bottom-color: currentColor;
  border-top: none;
}

.outcome-display {
  margin-top: 20px;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: var(--secondary-color);
  text-align: center;
}

/* Mobile adjustments */
@media (max-width: 600px) {
  #wheelOfFortune {
    height: 80vw;
    width: 80vw;
  }

  #spin {
    height: 22vw;
    width: 22vw;
    font-size: 5vw;
  }

  .credits-display {
    font-size: 5vw; /* Adjust font size for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
  }

  .outcome-display {
    font-size: 5vw;
  }
}
