:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #d4e653;
  --accent-color-2: #87643d;
  --background-color: #150e07;
}

.header-container {
  background-color: var(--background-color);
  padding: 10px; /* Reduce padding for smaller screens */
  color: var(--secondary-color);
  display: flex;
  justify-content: center; /* Center the nav-container */
  align-items: center;
  box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1), 0 -2px 4px -1px rgba(0, 0, 0, 0.06); /* Top box shadow */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure the header is above other content */
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ensure the container takes the full width */
}

.nav-links {
  display: flex;
  gap: 50px; /* Gap between links */
}

.nav-links a {
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
}

.nav-icon {
  width: 36px; /* Adjust size as needed */
  height: 36px; /* Adjust size as needed */
}

.nav-links a:hover .nav-icon {
  opacity: 0.7; /* Change the opacity on hover for a visual effect */
}
