html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrolling on the body */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f8f8f8;
  min-height: 100vh;
  box-sizing: border-box;
  overflow-y: auto; /* Allow vertical scrolling within the container only when needed */
  width: 100%; /* Ensure the container takes the full width */
}

.drink-counter {
  font-size: 24px;
  margin: 20px 0;
  color: #333;
}

.drink-button{
  background-color: #0071e3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

.reset-button {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

.reset-button:hover {
  background-color: #c11616;
}

.drink-button:hover {
  background-color: #005bb5;
}

.drink-input {
  padding: 12px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 200px;
  box-sizing: border-box;
}

.drink-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.drink-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 150px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.drink-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.drink-icon {
  font-size: 30px;
  margin-bottom: 10px;
  color: #0071e3;
}

.drink-name {
  font-size: 16px;
  margin: 10px 0;
  color: #333;
}

.drink-count {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}
