:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #87643d;
  --accent-color-2: #d4e653;
  --background-color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  height: calc(100vh - 130px);
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100%;
}

.drink-counter {
  font-size: 20px;
  margin: 15px 0;
  color: var(--secondary-color);
}

.main-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
  width: 100%;
  max-width: 300px;
}

.reset-button {
  background-color: var(--accent-color-2);
}

.main-button:hover {
  background-color: var(--accent-color-1);
}

.drink-input {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.drink-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  width: 100%;
  max-width: 300px;
  overflow-y: auto;
  margin-top: 20px;
}

.drink-select {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--secondary-color);
}

.drink-item {
  background-color: var(--background-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 20px;
  text-align: center;
  width: 100px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drink-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.drink-name {
  font-size: 16px;
  margin: 5px 0;
  color: var(--secondary-color);
}

.drink-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.drink-count {
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 0 10px;
}

.drink-control-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 5px;
}

.drink-control-button.subtract-button {
  background-color: var(--accent-color-2);
}

.drink-control-button:hover {
  background-color: var(--accent-color-1);
}

.intro-container {
  text-align: center;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  background-color: var(--background-color);
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.intro-container-minimized {
  padding: 10px;
}

.intro-heading {
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.intro-text {
  font-size: 16px;
  color: var(--secondary-color);
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup {
  background-color: var(--background-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  width: 90%;
  max-width: 300px;
}

.popup-gif {
  width: 100%;
  max-width: 200px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.popup-content {
  text-align: center;
}

.popup-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.popup-button:hover {
  background-color: var(--accent-color-1);
}

.popup-button.yes-button {
  background-color: var(--accent-color-2);
}

.popup-button.yes-button:hover {
  background-color: var(--accent-color-1);
}
