:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #87643d;
  --accent-color-2: #d4e653;
  --background-color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.request-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; /* Match the padding */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  height: calc(100vh - 75px);
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100%;
}

.request-form {
  background: var(--background-color);
  padding: 10px; /* Match the padding */
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-indicator {
  font-size: 16px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px; /* Reduce the gap between user cards */
  justify-content: center;
  margin: 10px 0; /* Adjust the margin for less space */
  overflow-y: auto;
  max-height: 200px;
}

.user-card {
  border-radius: 8px; /* Reduce border-radius */
  padding: 5px 10px; /* Reduce padding */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: var(--background-color);
  transition: border-color 0.2s ease;
}

.user-card.selected {
  border-color: var(--primary-color);
}

.user-info {
  text-align: center;
  font-size: 14px; /* Reduce font size */
  color: var(--secondary-color);
}

.main-button,
.check-in-button,
.refresh-button,
.form-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

.main-button:hover,
.check-in-button:hover:not(:disabled),
.refresh-button:hover,
.form-button:hover:not(:disabled) {
  background-color: var(--accent-color-1);
}

.refresh-button {
  background-color: var(--primary-color); /* Keeps its color */
}

.form-button {
  background-color: var(--accent-color-1); /* --accent-color-1 as standard color */
}

.form-button:hover {
  background-color: var(--accent-color-2); /* --accent-color-2 when pushed */
}

.reset-button {
  background-color: var(--accent-color-2);
}

.reset-button:hover {
  background-color: var(--accent-color-1);
}

.form-button:disabled,
.check-in-button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.form-button:disabled:hover,
.check-in-button:disabled:hover {
  background-color: #a0a0a0; /* Ensure the hover color stays the same as disabled color */
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.request-list-container {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  max-height: calc(100vh - 400px); /* Adjust the max height as needed */
}

.request-list-container h2 {
  text-align: center;
}

.request-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.request-item {
  background-color: var(--secondary-color); /* Set background to black */
  border-radius: 10px;
  margin: 5px 0; /* Reduce margin */
  text-align: center;
  font-size: 14px; /* Reduce font size */
  color: var(--primary-color); /* Set text color to primary color */
  overflow: hidden;
  max-width: 250px; /* Make the request item smaller */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.request-item img {
  display: block;
  max-width: 100%;
  height: auto;
}

.request-item p {
  margin: 0;
  padding: 8px; /* Reduce padding */
  width: 100%;
  font-weight: 700;
  background-color: var(--secondary-color); /* Ensure background color is black */
}

.no-requests-message {
  font-size: 16px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 20px;
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 15px;
}

.no-users-message {
  font-size: 14px; /* Reduce font size */
  color: var(--secondary-color);
  text-align: center;
  margin-top: 10px; /* Reduce margin */
}

.button-group {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}
