:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #87643d;
  --accent-color-2: #d4e653;
  --background-color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.request-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  height: calc(100vh - 75px);
  box-sizing: border-box;
  width: 100%;
}

.intro-container {
  text-align: center;
  width: 100%;
  max-width: 350px;
  box-sizing: border-box;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.intro-heading {
  font-size: 24px;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.intro-text {
  font-size: 16px;
  color: var(--secondary-color);
}

.request-form {
  background: var(--background-color);
  padding: 10px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.loading-indicator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 10px;
}

.loading-ripples {
  width: 50px;
  height: 50px;
}

.user-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin: 10px 0;
  overflow-y: auto;
  max-height: 200px;
  flex-grow: 1;
}

.user-card {
  border-radius: 10px;
  padding: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 2px solid transparent;
  background-color: var(--background-color);
  transition: border-color 0.2s ease;
}

.user-card.selected {
  border-color: var(--primary-color);
}

.user-info {
  text-align: center;
  font-size: 14px;
  color: var(--secondary-color);
}

.main-button,
.check-in-button,
.refresh-button,
.form-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
  width: 100%;
  max-width: 300px;
}

.main-button:hover,
.check-in-button:hover:not(:disabled),
.refresh-button:hover,
.form-button:hover:not(:disabled) {
  background-color: var(--accent-color-1);
}

.main-button:active,
.check-in-button:active,
.refresh-button:active,
.form-button:active {
  background-color: var(--accent-color-2);
}

.form-button:disabled,
.check-in-button:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.form-button:disabled:hover,
.check-in-button:disabled:hover {
  background-color: #a0a0a0;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

.no-users-message {
  font-size: 14px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: 10px;
}

.button-group {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

/* Style for the popup */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 400px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

/* Confirmation popup for the SVG icon */
.confirmation-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  padding: 20px;
  z-index: 1000;
}

.confirmation-popup img {
  width: 150px;
  height: 150px;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form-button {
  height: 40px;
  margin-top: auto;
  width: 100%;
  max-width: 300px;
  margin-bottom: 25px;
}
