:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #87643d;
  --accent-color-2: #d4e653;
  --background-color: #ffffff;
  --header-bg-color: #f8f9fa;
  --row-hover-bg-color: #f1f3f5;
  --font-color: #343a40;
  --font-size: 14px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}

.scoreboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: var(--background-color);
  box-sizing: border-box;
  overflow-y: hidden;
  width: 100%;
  height: calc(100vh - 130px);
}

.scoreboard-table {
  width: 100%;
  max-width: 800px;
  border-collapse: collapse;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.scoreboard-table th, .scoreboard-table td {
  padding: 12px 15px;
  text-align: left;
  color: var(--font-color);
  font-size: var(--font-size);
}

.scoreboard-table th {
  background-color: var(--header-bg-color);
  font-weight: 600;
  border-bottom: 2px solid #dee2e6;
}

.scoreboard-table tr {
  border-bottom: 1px solid #dee2e6;
}

.scoreboard-table tr:nth-child(even) {
  background-color: #f8f9fa;
}

.scoreboard-table tr:hover {
  background-color: var(--row-hover-bg-color);
}

.main-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  padding: 8px 15px;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
}

.main-button:hover {
  background-color: var(--accent-color-1);
}

.main-button:active {
  background-color: var(--accent-color-2);
}

.refresh-button {
  margin-bottom: 20px;
}

/* Updated styles for the arrow */
.arrow-cell {
  text-align: center;
  cursor: pointer;
  font-size: var(--font-size);
  width: 30px; /* Adjust width to fit the arrow nicely */
}

.expanded-row {
  background-color: #f8f9fa;
}

.details-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: var(--font-size);
  color: var(--font-color);
  flex-wrap: nowrap; /* Prevent wrapping */
}

.details-container p {
  margin: 5px 10px;
  flex: 1 1 auto; /* Allow flexibility without wrapping */
  min-width: 60px; /* Adjust the minimum width to ensure fitting on smaller screens */
  text-align: center; /* Center the text for better readability on small screens */
}

/* Responsive styles */
@media (max-width: 600px) {
  .scoreboard-table th, .scoreboard-table td {
    padding: 8px;
    font-size: 12px;
  }

  .main-button {
    font-size: 12px;
    padding: 6px 10px;
  }

  .refresh-button {
    margin-bottom: 10px;
    width: 100px;
  }

  .scoreboard-table {
    font-size: 14px;
    max-width: 100%;
  }

  .scoreboard-container {
    padding: 25px;
  }

  .details-container {
    padding: 8px;
    font-size: 12px;
    justify-content: space-between; /* Ensures even distribution */
  }

  .details-container p {
    margin: 4px 2px; /* Reduce margin to fit within the row */
    flex: 1 1 20%; /* Ensure all items stay in the same row */
    min-width: 50px; /* Further reduce min-width for smaller screens */
  }
}
