/* General styles */
.sladesh-hub-container {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--font-family); /* Use global font-family */
  background-color: var(--background-color); /* Use global background color */
  height: calc(100vh - 75px);
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding-top: var(--padding);
}

.request-list-container {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  position: absolute;
  margin-top: 100px;
}

.request-list-container.hidden {
  opacity: 0;
  transform: translateX(-100%);
}

.request-list-container.visible {
  opacity: 1;
  transform: translateX(0);
}

.request-list-container.slide-out {
  opacity: 0;
  transform: translateX(100%);
}

/* Toggle container styles */
.toggle-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: var(--margin);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  overflow: hidden;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.toggle-button {
  background-color: transparent; /* Make buttons background transparent */
  border: none;
  padding: var(--padding);
  cursor: pointer;
  border-radius: 0px;
  font-size: 14px;
  font-weight: bold;
  color: var(--secondary-color);
  flex: 1;
  text-align: center;
  z-index: 2; /* Ensure the text is above the slider */
  transition: color 0.3s ease;
}

.toggle-button:last-child {
  border-right: none; /* Remove right border for the last button */
}

.toggle-button.active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Slider for the active button */
.toggle-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Adjust to cover one button at a time */
  height: 100%;
  background-color: var(--primary-color); /* Active background color */
  transition: transform 0.2s ease; /* Smooth transition for sliding */
  z-index: 1; /* Make sure it's behind the buttons but above the container */
}

.loading-indicator {
  font-size: 14px;
  color: var(--primary-color);
}

.no-requests-message {
  font-size: 14px;
  color: var(--secondary-color);
  text-align: center;
  margin-top: var(--margin);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
}

/* Received View Styles */
.request-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.request-item {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 5px 0;
  text-align: center;
  font-size: 14px;
  color: var(--secondary-color);
  overflow: hidden;
  max-width: 275px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
}

.request-item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.request-item p {
  margin: 0 0 10px; 
  padding: var(--padding);
  width: 100%;
  font-weight: 700;
  color: var(--secondary-color);
  border-radius: 5px;
}

/* Status Badges */
.pending-badge {
  background-color: var(--pending-color);
  color: var(--background-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.completed-badge {
  background-color: var(--completed-color);
  color: var(--background-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.confirmed-badge {
  background-color: var(--success-color);
  color: var(--background-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

/* Confirmation Button */
.confirm-button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  margin-top: var(--margin);
  width: 275px;
  transition: background-color 0.3s ease;
  width: 100%;
}

.confirm-button:hover {
  background-color: var(--button-hover-color);
}

.completion-message,
.confirmation-message {
  font-size: 14px;
  color: var(--success-color);
  margin-top: var(--margin);
}

.waiting-message {
  font-size: 14px;
  color: var(--primary-color);
  margin-top: var(--margin);
}

.completed-button {
  background-color: #ccc; /* Light gray */
  color: #666; /* Darker gray for text */
  width: 275px;
  border: none;
  padding: var(--padding);
  cursor: not-allowed; /* Show that the button is not clickable */
  font-size: 14px;
  font-weight: bold;
  border-radius: var(--border-radius);
}

.completed {
  background-color: #d4edda; /* Green background for completed items */
  color: #155724;
}

/* Sent View Styles */
.sent-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  overflow-y: auto;
  margin-top: var(--margin);
  list-style-type: none;
  padding: 0;
}

.sent-item {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: var(--margin) 0;
  padding: var(--padding);
  text-align: center;
  width: 100px;
  max-width: 275px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sent-item p {
  margin: 0;
  padding: var(--padding);
  font-size: 16px;
  font-weight: bold;
  color: var(--secondary-color);
}

.sent-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Success Message */
.success-message {
  color: var(--success-color);
  font-size: 16px;
  font-weight: bold;
  margin-top: var(--margin);
  background-color: var(--background-color);
  border: 2px solid var(--success-color);
  border-radius: var(--border-radius);
  padding: var(--padding);
}
