.top-header-container {
  background-color: var(--background-color);
  padding: 15px 25px 25px 25px;
  color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family); /* Use global font-family */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.top-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary-color);
  font-family: inherit; /* Consistent with overall font family */
}

.nav-item {
  display: flex;
  flex-direction: column; /* Align icon and text vertically */
  align-items: center;
  text-decoration: none; /* Remove underline from links */
  color: var(--secondary-color); /* Use secondary color for the text */
}

.user-icon {
  width: 30px;
  height: 30px;
}

.nav-text {
  margin-top: 5px;
  font-size: 12px;
  color: var(--secondary-color); /* Text color consistent with the header */
  
}

.nav-icon-container {
  position: relative;
}

.notification-circle {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background-color: var(--error-color); /* Use global error color */
  color: var(--background-color); /* Use global background color for contrast */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: bold;
}

/* Responsive styles */
@media (max-width: 600px) {
  .top-header-container {
    padding: 10px 25px; /* Adjust padding for smaller screens */
  }

  .logo-text {
    font-size: 20px;
  }

  .nav-item {
    font-size: 10px; /* Smaller text for the Inbox label on smaller screens */
  }

  .user-icon {
    width: 25px;
    height: 25px; /* Slightly smaller icon for mobile */
  }

  .nav-text {
    font-size: 10px; /* Smaller text under the icon for mobile */
  }
}
