:root {
  --primary-color: #d3d2c1;
  --secondary-color: #150e07;
  --accent-color-1: #d4e653;
  --accent-color-2: #87643d;
  --background-color: #f7f7f6;
}

/* UserIdentification.css */

.user-identification-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  padding: 0 20px; /* Added padding for mobile responsiveness */
  box-sizing: border-box;
  overflow: hidden; /* Prevents scrollbar */
}

.app-introduction {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.app-introduction h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.app-introduction p {
  font-size: 16px;
  color: var(--secondary-color);
}

.user-identification-form {
  background: var(--background-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.user-identification-label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: #333333;
}

.input {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.button:hover {
  background-color: #b2b2b2;
}

.button-call-to-action {
  background-color: var(--accent-color-2); /* Call to action color */
}

.button-call-to-action:hover {
  background-color: #c44d26;
}

.forgot-password-link {
  margin-top: 10px;
  color: var(--primary-color);
  cursor: pointer;
  text-align: center;
  text-decoration: underline;
}

.forgot-password-link:hover {
  color: #b2b2b2;
}

/* Responsive styling */
@media (min-width: 600px) {
  .user-identification-form, .app-introduction {
    max-width: 400px;
  }
}
